.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 45px;
  gap: 10px;
}

.product-item {
  width: 20%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.load-more-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.load-more-button:hover {
  background-color: #0056b3;
}

.show-items {
  margin: 30px auto;
}

p {
  color: darkblue;
}
